@font-face {
  font-family: 'Chivo';
  src: url('../public/fonts/Chivo-Light.woff2') format('woff2'),
      url('../public/fonts/Chivo-Light.woff') format('woff');
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.woff2') format('woff2'),
      url('../public/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Bold.woff2') format('woff2'),
      url('../public/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
