html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  @apply font-sans antialiased text-purpledark bg-offwhite;
}
  
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

.about-text {
  text-indent: 3rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-4 font-display;
}

h2, .h2{
  @apply text-3xl md:text-4xl xl:text-5xl leading-tight
}

h1 > span {
  box-shadow: inset 0 0px 0 rgba(113, 17, 252, 0), inset 0 -10px 0 rgba(113, 17, 252, 0.15);
}
  
.content > h1, .content > .h1 {
  @apply text-4xl text-purple;
}
  
.content > h2, .content > .h2 {
  @apply text-3xl text-purple md:text-4xl xl:text-5xl leading-tight;
}


.content p {
  @apply mb-4
}

.content--fancy p {
  @apply mb-4;

  &:first-of-type {
    @apply text-lg;
  }
}

.content p > a {
  @apply text-purple underline;
}


::selection {
  @apply bg-purple bg-opacity-5;
}

@screen xl {
  .content--fancy p {
    @apply text-lg mb-6;

    &:first-of-type {
      @apply text-xl;
    }
  }
}

.blend-image {
  @apply bg-offwhite opacity-10;
  mix-blend-mode: luminosity;

  img, picture {
    mix-blend-mode: luminosity;
  }
}

.blend-image-inner > picture {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full object-cover object-top !important;
}

.blend-image-inner > picture > img {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full object-cover object-top !important;
}